<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-center">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-icon name="person-add-outline" class="icon"></ion-icon>
      </ion-col>
    </ion-row>

    <form [formGroup]="registroForm" class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <div *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)">
            <ion-text color="danger" *ngIf="registroForm.get('nombre')?.hasError('required')">* Nombre es obligatorio</ion-text>
            <ion-text color="danger" *ngIf="registroForm.get('nombre')?.hasError('minlength')">* Nombre debe tener al menos 4 caracteres</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" formControlName="apellido"></ion-input>
          </ion-item>
          <div *ngIf="registroForm.get('apellido')?.invalid && (registroForm.get('apellido')?.dirty || registroForm.get('apellido')?.touched)">
            <ion-text color="danger" *ngIf="registroForm.get('apellido')?.hasError('required')">* Apellido es obligatorio</ion-text>
            <ion-text color="danger" *ngIf="registroForm.get('apellido')?.hasError('minlength')">* Apellido debe tener al menos 4 caracteres</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>
          <div *ngIf="registroForm.get('correo')?.invalid && (registroForm.get('correo')?.dirty || registroForm.get('correo')?.touched)">
            <ion-text color="danger" *ngIf="registroForm.get('correo')?.hasError('required')">* Correo electrónico es obligatorio</ion-text>
            <ion-text color="danger" *ngIf="registroForm.get('correo')?.hasError('email')">* Correo electrónico no es válido</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="contrasena"></ion-input>
          </ion-item>
          <div *ngIf="registroForm.get('contrasena')?.invalid && (registroForm.get('contrasena')?.dirty || registroForm.get('contrasena')?.touched)">
            <ion-text color="danger" *ngIf="registroForm.get('contrasena')?.hasError('required')">* Contraseña es obligatoria</ion-text>
            <ion-text color="danger" *ngIf="registroForm.get('contrasena')?.hasError('minlength')">* Contraseña debe tener al menos 8 caracteres</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <p>Asignaturas:&nbsp;</p>
            <ion-select formControlName="asignaturas" multiple="true" interface="popover">
              <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">
                {{ asignatura.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="registroForm.get('asignaturas')?.invalid && (registroForm.get('asignaturas')?.dirty || registroForm.get('asignaturas')?.touched)">
            <ion-text color="danger" *ngIf="registroForm.get('asignaturas')?.hasError('required')">* Debes seleccionar al menos una asignatura</ion-text>
            <ion-text color="danger" *ngIf="registroForm.get('asignaturas')?.hasError('minlength')">* Debes seleccionar al menos 2 asignaturas</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button (click)="registrar()" class="boton" expand="full" color="primary" shape="round">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </form>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <p>¿Ya tienes una cuenta? 
            <ion-button [routerLink]="['/login']" fill="clear" color="primary">Inicia sesión</ion-button>
          </p>
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>
