<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
         text="back"
         color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-title>Bienvenido al formulario </ion-card-title> 
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content class="contenido">
      <p class="parrafo">
        En el siguiente formulario, tendrás la oportunidad de generar un código QR único que, al ser escaneado, te redirigirá automáticamente al formulario de entrada de datos correspondiente.
      </p>
    </ion-card-content> 
  </ion-card>
  <img src="assets/qr.png" class="ion-padding" style="width: 350px;">
  <ion-card>
</ion-card>
</ion-content>
