<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
     </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienveido al HUB de Docente</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: black;">
      Hola! <strong>{{this.nombre}} {{this.apellido}}</strong>, este es el Hub del Docente. Aquí puedes encontrar todas tus herramientas y recursos.
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" fill="solid" color="tertiary" shape="round" href="/ayuda" shape="round">Ayuda</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" fill="solid" color="tertiary" shape="round" (click)="confirmLogout()" shape="round">Cerrar sesion</ion-button>
    </ion-col>
  </ion-row>

  <ion-list-header>
      <h2>
        Días Feriados: </h2>
  </ion-list-header>

  <ion-list style="opacity: 80%;">
    <ion-item *ngFor="let feriado of feriados">
      <ion-label>
        <h2>{{ feriado.title }}</h2>
        <p><strong>Fecha:</strong> {{ feriado.date }}</p>
        <p><strong>Tipo:</strong> {{ feriado.type }}</p>
        <p><strong>Extra:</strong> {{ feriado.extra }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>